c-select {
	position: relative;
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	cursor: default;
}

.select-menu[disabled] {
	opacity: 0.3;
}

c-select button {
	font: var(--type-small-normal);
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 30px;
	margin: 1px 0 1px 0;
	padding: 6px 0 6px 8px;
	cursor: default;
	color: rgba(0, 0, 0, 0.8);
	border-radius: 2px;
}

c-select button:hover { box-shadow: 0 0 0 1px var(--color-separator) inset; }
c-select button:focus, c-select button:active {
	box-shadow: 0 0 0 2px var(--color-interactive-positive) inset;
	outline: none;
}
c-select button .c-icon { pointer-events: none; }
c-select button .c-icon.default path { fill: var(--color-text-tertiary); }
c-select button .c-icon.hover { opacity: 0; position: absolute; right: 4px; top: 7px; }
c-select button .c-icon.hover path { fill: var(--color-text-primary); }
c-select:hover button .c-icon.default { opacity: 0; }
c-select:hover button .c-icon.hover { opacity: 1; }

c-select[reverse] button { flex-direction: row-reverse; padding: 6px 8px 6px 0; }
c-select[reverse] button .c-icon.default { margin: 0 4px 0 0; }
c-select[reverse] button .c-icon.hover { right: auto; left: 4px; }

c-select ul {
	position: absolute;
	z-index: 2;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;
	padding: 8px 0 8px 0;
	border-radius: 2px;
	background-color: var(--color-text-primary);
	box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2), 0 2px 7px rgba(0, 0, 0, 0.15);
}

c-select li {
	font: var(--type-medium-normal);
	display: flex;
	align-items: center;
	height: 24px;
	padding: 0 8px;
	color: #FFFFFF;
}
c-select li:hover { background-color: var(--color-interactive-positive); }

c-select li.separator { pointer-events: none; height: 1px; margin: 8px 0; background-color: rgba(255, 255, 255, 0.2); }
c-select li .c-icon { display: inline-block; opacity: 0; margin-right: 8px; pointer-events: none; }
c-select li .c-icon path { fill: #FFFFFF; stroke: #FFFFFF; }
c-select li[selected] .c-icon { opacity: 1; }
