@font-face {
	font-family:'Inter';
	font-style: normal;
	font-weight: 400;
	src: url("https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.7") format("woff2"), url("https://rsms.me/inter/font-files/Inter-Regular.woff?v=3.7") format("woff")
}

@font-face {
	font-family:'Inter';
	font-style: normal;
	font-weight: 500;
	src: url("https://rsms.me/inter/font-files/Inter-Medium.woff2?v=3.7") format("woff2"), url("https://rsms.me/inter/font-files/Inter-Medium.woff2?v=3.7") format("woff")
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: url("https://rsms.me/inter/font-files/Inter-SemiBold.woff2?v=3.7") format("woff2"), url("https://rsms.me/inter/font-files/Inter-SemiBold.woff2?v=3.7") format("woff")
}

:root {
	--type-small-normal: 400 11px/16px "Inter", sans-serif;
	--type-small-medium: 500 11px/16px "Inter", sans-serif;
	--type-small-bold: 600 11px/16px "Inter", sans-serif;
	--type-medium-normal: 400 12px/16px "Inter", sans-serif;
	--type-medium-medium: 500 12px/16px "Inter", sans-serif;
	--type-medium-bold:  600 12px/16px "Inter", sans-serif;
	--type-large-normal: 400 13px/24px "Inter", sans-serif;
	--type-large-medium: 500 13px/24px "Inter", sans-serif;
	--type-large-bold: 600 13px/24px "Inter", sans-serif;
	--type-xlarge-normal: 400 14px/24px "Inter", sans-serif;
	--type-xlarge-medium: 500 14px/24px "Inter", sans-serif;
	--type-xlarge-bold:  600 14px/24px "Inter", sans-serif;

	--color-interactive-positive: #18A0FB;
	--color-interactive-negative: #E41761;
	--color-text-primary: #03121C;
	--color-text-secondary: #64646C;
	--color-text-tertiary: #AAAAB2;
	--color-background-primary: #FFFFFF;
	--color-decorator-strong: #C5CED2;
	--color-decorator-regular: #D5DDE2;
	--color-decorator-soft: #F1F4F4;

	--color-separator: rgba(0, 0, 0, 0.12);
}

root-ui { transition: opacity 0.05s linear; display: block; text-align: left; }
root-ui[notready] { opacity: 0; pointer-events: none; }

.view {
	display: block;
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	padding: 16px;
}

.icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 16px;
}
.icon svg { pointer-events: none; }

/* Icon Actions */
button.icon, a.icon {
	width: 32px;
	height: 32px;
	font: 0/0 a;
	border-radius: 2px;
	cursor: pointer;
}
button.icon:hover, a.icon:hover { background-color: var(--color-decorator-soft); }
button.icon:active, a.icon:active { box-shadow: 0 0 0 2px var(--color-interactive-positive) inset; }
button.icon *, a.icon * { pointer-events: none; }
