/* PLUGIN UI */
* { border: 0; padding: 0; margin: 0; }
.hidden { display: none!important; }
form { padding: 16px; }
fieldset { margin-bottom: 16px; }
p.type { margin-bottom: 16px; }
p.type--11-pos-bold { margin-bottom: 8px; }

.search { display: block; position: relative; }
.search .icon { position: absolute; left: 0; top: -1px; }
.search .input { text-indent: 24px; }
.list { height: 256px; overflow: auto; margin: 16px -16px 0; padding-bottom: 16px; border-bottom: solid 1px #D5D5D5; }
.item { display: flex; flex-direction: row; align-items: center; justify-content: flex-start; cursor: pointer; padding: 0 16px; }
.item * { pointer-events: none; }
.item .icon { flex-shrink: 0; opacity: 0; margin-right: 0px; }
.item p { margin-bottom: 0; padding: 4px 0; }

.item:hover { background: rgba(72, 159, 244, 0.2); }
.item.empty p { color: #888; font-style: italic; }
.item.selected p { color: #2C84DB; }
.item.selected .icon { opacity: 1; }


.main-actions p { margin-bottom: 0; padding-left: 8px; }
.main-actions p + p { margin: 8px 0; }
.main-actions p i { color: var(--color-text-secondary); font-style: normal; }
.main-actions fieldset { border-top: solid 1px var(--color-decorator-regular); padding-top: 8px; margin-top: 8px; }
.main-actions textarea { min-height: 100px; resize: vertical; margin-top: 8px; }

.main-actions button { margin-top: 8px; position: relative; min-width: 92px; }
.main-actions button.loading { text-indent: -999px; }
.main-actions button.loading::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid white;
  border-top-color: transparent;
  animation: spin 0.8s linear infinite;
  margin: -7px 0 0 -7px;
}

/* Define the animation for the loading state */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
